
/* frequency range of slider */
.frequency {
	margin-bottom: 70px;
}
/* main background */
.main-bg{
	background: cadetblue;
    padding-top: 40px;
    display: block;
    padding-bottom: 250px;
    margin-top: -20px;
    color: white;
}
/* footer */
footer{
	height: 30px;
    width: 100%;
    background: #6d6e71;
    text-align: center;
    color: #ffffff;
    padding: 1px 0;
}
footer a {
	color: white;
	transition: color 0.5s ease-in-out;
}
footer a:hover{
	color:red;
}
.footer-left {
	margin-left: 20px;
	float: left;
    line-height: 25px;
    font-size: 12px;

}
/* ------------------------------------------------------------ */
li {
	list-style: none;
}
/* Slider value*/
.slider-value{
    margin-left: 90px;
    margin-top: -25px;
    display: block;
}
/* slider range value */
.range-value{
	margin-left: 90px;
    margin-top: 100px;
    display: block;
}


.audio-bg{
	margin-top: 25px;
}

/*customised range slider*/ input[type="range"].slider 
{
     transform:rotate(270deg); 
     cursor: pointer;
	 width: 200px;
     -webkit-appearance: none; 
     z-index: 200; 
     margin-top: 100px;
	 height: 12px;
  	 box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  	 -webkit-border-radius: 20px; 
     -moz-border-radius: 20px; 
     border-radius: 20px; 
  	 border: 0.2px solid #010101;
  	 transition: background 0.2s ease-in-out;
}
/*customised range when focusing on input */ input[type="range"].slider:focus
{
     border: 0 !imporant; 
	outline: none !important; 
}
/*customised range slider icon*/ input[type="range"].slider::-webkit-slider-thumb 
{
     -webkit-appearance: none;
     box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  	 border: 1px solid green;
	border-radius: 50%; 
     width: 30px; 
     height: 30px;
     display: block;
	 background-color: #555; 
     background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4DDBFF), to(#00CCFF)); 
     background-image: -webkit-linear-gradient(right, #4DDBFF, #00CCFF); 
     background-image: -moz-linear-gradient(right, #4DDBFF, #00CCFF); 
     background-image: -ms-linear-gradient(right, #4DDBFF, #00CCFF); 
     background-image: -o-linear-gradient(right, #4DDBFF, #00CCFF); 
     transition: background-color 0.2s ease-in-out;
     
}